/*导航的下划线*/
.menu ul li:nth-child(2) a{
    border-bottom:2px solid #009240;
}
/*主体部分*/
/*面包屑*/
.breadcrumb {
    font-weight: 400;
    font-size: 14px;
    margin:10px 0 0 0;
    padding:0;
}
.breadcrumb a {
    color: #999;
    text-decoration: none;
}
.breadcrumb a:hover,
.breadcrumb a:focus {
    color: #000;
}
.breadcrumb li.active:before {
    content: "";
    padding: 0;
}
.breadcrumb.details-breadcrumb {
    border: none;
}
.breadcrumb > li {
    display: inline-block;
    color: #000;
    text-transform: uppercase;
}
/*第一部分*/
.section1{
    margin-top: 10px;
    margin-bottom: 60px;
}
/*右侧*/
.item_info{
    margin-left: 50px;
    line-height: 20px;
}
.item_info h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}
.item_info h5{
    margin-top: 60px;
    margin-bottom: 20px;
    color: #2b2c33;
    font-size: 18px;
}
.item_info p{
    color: #2b2c33;
    margin-bottom: 10px;
}
.item_info_call_me a{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 420px;
    height: 50px;
    text-align: center;
    padding: auto;
    line-height: 50px;
    color: #FFF;
    background: #4A90E2;
    border-radius: 4px;
}
.item_info_call_me p{
    color: #9EA0A7;
}



/*图片展示样式***********************************/
.pic-thing{
    overflow: hidden;
}
.big-pic{
    padding: 10px;
    border: 1px solid #d8d8d8;
    margin-bottom: 10px;
}
.big-pic img{
    width: 100%;
    height: auto;
}
.fivepics{
    position:relative;
}
.btn-pre{
    cursor: pointer;
    position: absolute;
}
.btn-next{
    right: 0;
    cursor: pointer;
    position: absolute;
}
.fivepics_smallpic{
    margin-left: 20px;
    width:12000px;
    position: relative;
}
.fivepic{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
.fivepics_smallpic_zero{
    float: left;
    display:none;
}
.fivepic img{
    cursor:pointer;
    width: 90px;
    height:90px;
}
/*第二部分*/
.section2{
    margin-top: 40px;
    margin-bottom: 20px;
}
.product_descr{
    margin-bottom: 20px;
}
.product_descr h2{
    font-size: 24px;
    color: #2B2C33;
    letter-spacing: 0px;
    margin-bottom: 30px;
}
.product_descr td{
    padding-left: 10px;
    padding-right: 10px;
}
