/*导航的下划线*/
.menu ul li:nth-child(2) a{
    border-bottom:2px solid #0767bd;
}
/*主体部分*/
/*面包屑*/
.breadcrumb {
    font-weight: 400;
    font-size: 14px;
    margin:10px 0 0 0;
    padding:0;
}
.breadcrumb a {
    color: #999;
    text-decoration: none;
}
.breadcrumb a:hover,
.breadcrumb a:focus {
    color: #000;
}
.breadcrumb li.active:before {
    content: "";
    padding: 0;
}
.breadcrumb.details-breadcrumb {
    border: none;
}
.breadcrumb > li {
    display: inline-block;
    color: #000;
    text-transform: uppercase;
}
/*第一部分*/
.section1{
    margin-top: 10px;
    margin-bottom: 60px;
}
/*右侧*/
.item_info{
    margin-left: 50px;
    line-height: 20px;
}
.item_info h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}
.item_info h5{
    margin-top: 60px;
    margin-bottom: 20px;
    color: #2b2c33;
    font-size: 18px;
}
.item_info p{
    color: #2b2c33;
    margin-bottom: 20px;
    line-height: 20px;
}
.item_info_call_me a{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 420px;
    height: 50px;
    text-align: center;
    padding: auto;
    line-height: 50px;
    color: #FFF;
    background: #4A90E2;
    border-radius: 4px;
}
.item_info_call_me p{
    color: #9EA0A7;
}



/*图片展示样式***********************************/
.pic-thing{
    overflow: hidden;
}
.big-pic{
    padding: 10px;
    border: 1px solid #d8d8d8;
    margin-bottom: 10px;
}
.big-pic img{
    width: 100%;
    height: auto;
}
.fivepics{
    position:relative;
}
.btn-pre{
    cursor: pointer;
    position: absolute;
}
.btn-next{
    right: 0;
    cursor: pointer;
    position: absolute;
}
.fivepics_smallpic{
    margin-left: 20px;
    width:12000px;
    position: relative;
}
.fivepic{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
.fivepics_smallpic_zero{
    float: left;
    display:none;
}
.fivepic img{
    cursor:pointer;
    width: 90px;
    height:90px;
}
/*第二部分*/
.item_more_info h3{
    font-size: 18px;
    padding-left: 10px;
    font-family:DINOT-Medium;
}
.item_more_info a {
    color: #9EA0A7;
    margin-bottom: 25px;
    margin-top: 15px;
    padding-left: 10px;
    display: block;
}
.item_more_info a i {
    margin-right: 10px;
}
.item_more_info a:hover{
    color:#DA281C;
}
.item_more_info img{
    vertical-align: text-bottom;
    margin-right: 5px;
}
.view_more_collapse h4{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    color: #4a90e2;
    cursor: pointer;
}
.product_descr{
    margin-bottom: 20px;
}
.item_more_info .table_fa table {
    width: 980px;
    border-collapse:collapse;
    padding: 0;
    margin: 0;
    border: 1px  solid #d5d5d5;
}
.item_more_info .table_fa{
    overflow: hidden;
}
.item_more_info table tr th,
.item_more_info table tr td{
    padding: 8px 10px;
    margin: 0;
    font-weight: normal;
    border: 1px  solid #d5d5d5;
    width:140px;
    font-size: 14px;
}

/*section_middle*/
.section_middle{

}
.tab_switch{
    border-collapse: collapse;
    width: 100%;
}
.tab_switch_td{
    border: 1px solid #d8d8d8;
    padding: 13px auto ;
}
.tab_switch_td p{
    color: #2b2c33;
    display: inline-block;
    padding-top: 13px;
    padding-bottom: 13px;
}
.tab_switch_td_1,
.tab_switch_td_2{
    text-align: center;
    cursor: pointer;
    width: 20%;
    position: relative;
}
.tab_switch_td_1{
    border-bottom:4px solid  #1963B8;
}
.tab_switch_td_1 p{
    color:  #1963B8;
}
.tab_switch_td_1 .triangle_blue{
    display: inline-block;
}
.triangle_blue{
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #1963B8;
    border-left: 4px solid transparent;
    bottom: 0;
    left: 50%;
    display: none;
    margin-left:-4px;
    position: absolute;
}
.tab_switch_td_3{
    cursor: pointer;
    text-align: right;
}
.tab_switch_td_3 p{
    margin-right: 30px;
}
.tab_switch_td_3 p a{
    color: #1963ba;
}

/*第三部分*/
.section3{
    text-align: center;
}
/*第四部分*/
.section4{
    margin-top: 40px;
    margin-bottom: 20px;
}
.for_table_2{
    display: none;
}