/*导航的下划线*/
.menu ul li:nth-child(2) a{
    border-bottom:2px solid #B7683F;
}
/*主体部分*/
/*面包屑*/
.breadcrumb {
    font-weight: 400;
    font-size: 14px;
    margin:10px 0 0 0;
    padding:0;
}
.breadcrumb a {
    color: #999;
    text-decoration: none;
}
.breadcrumb a:hover,
.breadcrumb a:focus {
    color: #000;
}
.breadcrumb li.active:before {
    content: "";
    padding: 0;
}
.breadcrumb.details-breadcrumb {
    border: none;
}
.breadcrumb > li {
    display: inline-block;
    color: #000;
    text-transform: uppercase;
}
/*第一部分*/
.section1{
    margin-top: 10px;
    margin-bottom: 60px;
}
/*右侧*/
.item_info{
    margin-left: 50px;
    line-height: 20px;
}
.item_info h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}
.item_info h5{
    margin-top: 60px;
    margin-bottom: 20px;
    color: #2b2c33;
    font-size: 18px;
}
.item_info p{
    color: #2b2c33;
    margin-bottom: 10px;
}
.item_info_call_me a{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 420px;
    height: 50px;
    text-align: center;
    padding: auto;
    line-height: 50px;
    color: #FFF;
    background: #4A90E2;
    border-radius: 4px;
}
.item_info_call_me p{
    color: #9EA0A7;
}



/*图片展示样式***********************************/
.pic-thing{
    overflow: hidden;
}
.big-pic{
    padding: 10px;
    border: 1px solid #d8d8d8;
    margin-bottom: 10px;
}
.big-pic img{
    width: 100%;
    height: auto;
}
.fivepics{
    position:relative;
}
.btn-pre{
    cursor: pointer;
    position: absolute;
}
.btn-next{
    right: 0;
    cursor: pointer;
    position: absolute;
}
.fivepics_smallpic{
    margin-left: 20px;
    width:12000px;
    position: relative;
}
.fivepic{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
.fivepics_smallpic_zero{
    float: left;
    display:none;
}
.fivepic img{
    cursor:pointer;
    width: 90px;
    height:90px;
}
/*第二部分*/
.section2{
    margin-top: 40px;
    margin-bottom: 20px;
}
.product_descr{
    margin-bottom: 20px;
}
.product_descr h2{
    font-size: 24px;
    color: #2B2C33;
    letter-spacing: 0px;
    margin-bottom: 30px;
}
.product_descr td{
    padding-left: 10px;
    padding-right: 10px;
}

/*第三部分*/
/*第三部分*/
.section3{
    padding-top:35px ;
    min-width: 1200px;
}
.section3 h3{
    text-align: center;
    font-size: 24px;
    font-family: DINOT-Medium;
}
.row_part_title h1{
    font-size: 48px;
    font-family:"Curlz MT";
    margin-bottom: 20px;
    color: #2b2c33;
    text-align: center;
}
.row_part_title hr{
    border: none;
    height: 2px;
    background:#F05E18;
    width:76px ;
    text-align: center;
    margin-bottom: 15px;
}
.row_part_title p{
    font-family:"Didot";
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    color: #444769;
    padding-bottom: 10px;
}
.you_may_buy{
    padding: 10px 10px 20px;
    border: 1px solid #efefef;
    margin: 20px 0;
}
.you_may_buy:hover {
    /*border: 1px solid #F05E18;*/
    box-shadow: 5px 5px 30px #d8d8d8;
}
.you_may_buy img{
    width:100%;
    height:auto;
}
.you_may_buy p{
    font-family:"Didot";
    height:56px;
    padding: 20px 0 0 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: #2D2D33;
    letter-spacing: -0.34px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 1.3;
    -webkit-box-orient: vertical;
}
.col_one_fifth{
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    float: left;
    width: 20%;
}